<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Chat</title>
</head>

<body>

<form th:method="POST" th:action="@{/chats}" th:object="${chat}">
    <label for="name">Enter chat name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>

    <br>



    <input type="submit" value="Create the chat!"/>



</form>
</body>
</html>