<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
</head>
<body>
<p th:text="${'Chat: ' + chat.getName()}">Chat of title</p>
<p th:text="${'Owner: ' + owner.getUsername()}">Owner</p>
<p th:text="${'CratedAt: ' + chat.getCreatedAt()}">Created at</p>
<p th:text="${'Description: ' + chat.getDescription()}">Description</p>



<form th:action="@{/chats}">
    <input type="submit" value="Chats!">
</form>

<div th:if="${!chat.isMemberInChat(member)}">
    <form th:method="POST" th:action="@{/chats/{id}/chat#last-message(id=${chat.getId()})}">
        <input type="submit" value="Join!">
    </form>
</div>

<div th:if="${chat.isMemberInChat(member)}">
    <form th:action="@{/chats/{id}/chat#last-message(id=${chat.getId()})}">
        <input type="submit" value="To chat!">
    </form>
</div>

<form th:method="DELETE" th:action="@{/chats/delete/{id}(id=${chat.getId()})}">
    <button type="submit" value="Delete chat!" style="background: red">Delete chat!!!</button>
</form>

</body>
</html>